body {
  font-family: "Times New Roman", serif;
}

.container {}

.table {
  width: 100%;
}

.td-logo {
  width: 60%;
}

.td-antrian {
  width: 40%;
  text-align: right;
}

.text-antrian {
  font-family: monospace;
  font-size: 16pt;
  font-weight: bold;
}

.logo-img {
  height: 28pt;
}

.head {
  text-align: center;
  margin-bottom: 10pt;
}

.text-head {
  text-decoration: underline;
  font-weight: bold;
}

.indent-active {
  text-indent: 30pt;
  text-align: justify;
}

.td-title {
  width: 18%;
  vertical-align: top;
  padding-bottom: 6pt;
}

.td-t {
  width: 2%;
  vertical-align: top;
  padding-bottom: 6pt;
}

.td-desc {
  width: 30%;
  vertical-align: top;
  padding-bottom: 6pt;
}

.foot {
  padding-bottom: 20pt;
  border-bottom: 1pt dotted #000;
}

.td-note {
  width: 50%;
  border: 1pt solid #000;
  padding-left: 6pt;
  padding-right: 6pt;
}

.td-note-ol {
  text-align: justify;
  font-size: 6pt;
  vertical-align: top;
}

.td-ttd {
  width: 50%;
  text-align: center;
}

.td-alasan-pengajuan {
  text-align: justify;
  vertical-align: top;
}

.new-page {}

.td-title-2 {
  width: 25%;
  vertical-align: top;
  padding-bottom: 6pt;
}

.td-desc-2 {
  width: 73%;
  vertical-align: top;
  padding-bottom: 6pt;
}

.titik {
  border-bottom: 1pt dotted #000;
}

.td-title-3 {
  width: 40%;
  vertical-align: top;
  padding-bottom: 6pt;
}

.td-desc-3 {
  width: 58%;
  vertical-align: top;
  padding-bottom: 6pt;
}

.no-border {
  border: none;
}
